{% extends 'management/base.html' %}

{% block main %}

    <div class="col-md-2"></div>

    <div class="col-md-7">
        <h2><strong style="color: #5bc0de">{{ laboratory_name }}</strong></h2>
        <table class="table table-striped" style="background-color: #a6e1ec">
            <thead>
                <tr>
                    <th>日期</th>
                    <th>使用时间段</th>
                </tr>
            </thead>
            <tbody>
                {% for post in post_list %}
                    <tr class="post post-{{ post.pk }}">
                        <td>{{ post.date }}</td>
                        <td>{{ post.time }}</td>
                    </tr>
                {% empty %}
                    <div class="no-post"></div>
                {% endfor %}
            </tbody>
        </table>

        <!-- 分页 -->
        <div class="pagination-simple">
            {% if post_list.has_previous %}
                <a href="?page={{ post_list.previous_page_number }}">上一页</a>
            {% endif %}

            <span class="current">
                第 {{ post_list.number }} 页 / 共 {{ post_list.paginator.num_pages }} 页
            </span>

            {% if post_list.has_next %}
                <a href="?page={{ post_list.next_page_number }}">下一页</a>
            {% endif %}
        </div>

    </div>



    <div class="col-md-1"></div>

{% endblock main%}